<header>

  <h2 id="navleft" style="display:inline-block;margin-right:10px;">DEAD BUT COOL</h2>


<div class="menu" style="float:right;display:inline-block;font-family:Canela;">
    <h2 style="display:inline-block;margin-right:10px;font-family:Canela;">MENU</h2>
  </div>

  <div class="navright" style="float:right;display:inline-block;font-family:Canela;">
    <a href="/works" style="display:inline-block;margin-right:10px;font-family:Canela;">WORKS</a>
    <a href="/info" style="display:inline-block;margin-right:10px;font-family:Canela;">INFO</a>
    <a href="/contact" style="display:inline-block;margin-right:10px;font-family:Canela;">CONTACT</a>
  </div>

</header>

<!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>



<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">CLOSE</a>
  <div class="overlay-content">
    <a href="/works">WORKS</a>
    <a href="/info">INFO</a>
    <a href="/contact">CONTACT</a>
  <br>
  <br>
  <p id="social" style="font-color:red;text-align: center;margin-left:-4%!important;">YOUTUBE FACEBOOK SOUNDCLOUD</p>
  </div>

</div>
 -->



<script>
function openNav() {
    document.getElementById("myNav").style.display = "block";
}

function closeNav() {
    document.getElementById("myNav").style.display = "none";
}
</script>