
<ul id="header">
  <li style="display: inline-block;"><a href="#home" style="font-family:Canela-Light;font-weight:100;">DEAD BUT COOL</a></li>
  
  <li style="float:right;display: inline-block;"> 

   <h1 style="font-family:Canela-Light;color:white;font-size:24px;margin-left:10px;margin-left:0;z-index: 0;right:20%;" onclick="openNav()">MENU</h1></li>
</ul>




<style>


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    
}

.overlay a {
  text-align: left;
    padding: 8px;
    text-decoration: none;
    font-size: 48px;
    color: #ffffff;
    display: block;
    transition: 0.6s;
    padding-left: 20px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}
.overlay .logo {
  
position: absolute;
    top: 15px;
    
    font-size: 20px;
}

.overlay .social {
position: relative;
text-align: center;
font-size: 13px;
bottom:-50%;
font-weight: 100;

}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 30px;
    top: 10px;
    right: 20px;
  }
}
</style>
</head>


<div id="myNav" class="overlay">
  <a href="#" class="logo" style="font-family:Canela-Light;font-weight:100;">DEAD BUT COOL</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">CLOSE</a>
  <div class="overlay-content">
    <a href="/works">WORKS</a>
    <a href="/info">INFO</a>
    <a href="/contact">CONTACT</a>
    
  </div>
  <div class="social" style=""><p>YOUTUBE FACEBOOK SOUNDCLOUD</p></div>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
    document.getElementById("myNav").style.display = "block";
}

function closeNav() {
    document.getElementById("myNav").style.display = "none";
}
</script>
     