
<ul id="header">
  <li style="display: inline-block;"><a href="/" style="font-family:Canela-Light;font-weight:100;text-decoration:none;"  data-remote="true">DEAD BUT COOL</a></li>

  <div id="deskmenu" >
  <li><%= link_to "WORKS", works_path,   remote: true %></li>
  <li><%= link_to "INFO", info_path,  remote: true, id: "info" %></li>
  <li><%= link_to "CONTACT", contact_path,  remote: true, id: "contact" %></li>
</div>
 <li>
   <li id="menu" onclick="openNav()">MENU</li></li>
</ul>




<style>
body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
</style>




<div id="myNav" class="overlay">
  <a href="#" class="logo" style="font-family:Canela-Light;font-weight:100;">DEAD BUT COOL</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">CLOSE</a>
  <div class="overlay-content">
    <a href="/works">WORKS</a>
    <a href="/info">INFO</a>
    <a href="/contact">CONTACT</a>
    
  </div>

  <div class="social" style="">
    <p> YOUTUBE FACEBOOK SOUNDCLOUD</p>

  </div>
</div>




<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>




<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
</script>
