<header>

  <h1 id="navleft" style="display:inline-block;margin-right:10px;font-family:Canela-Light;font-weight: 600!important;">DEAD BUT COOL</h1>


<div class="menu" style="float:right;display:inline-block;font-family:Canela;">
    <h1 style="font-size:30px;cursor:pointer" onclick="openNav()" style="display:inline-block;font-family:Canela-Light;font-weight: 100;">MENU</h1>
  </div>

  <div id="navright" style="float:right;display:inline-block;font-family:Canela-Light;">
    <a href="/works" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">WORKS</a>
    <a href="/info" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">INFO</a>
    <a href="/contact" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">CONTACT</a>
  </div>

</header>





<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:25px;">CLOSE</a>
  <div class="overlay-content">
    <a style="font-size:50px;" href="/works">WORKS</a>
    <a style="font-size:50px;" href="/info">INFO</a>
    <a style="font-size:50px;" href="/contact">CONTACT</a>
 
  <p id="social" style="font-color:red;text-align: center;margin-left:-10%!important;margin-top:40%!important;">YOUTUBE FACEBOOK SOUNDCLOUD</p>
  </div>

</div>
