<ul id="header">
  <li style="display: inline-block;"><a href="/" style="font-family:Canela-Light;font-weight:100;text-decoration:none;"  data-remote="true">DEAD BUT COOL</a></li>

  <div id="deskmenu" >
  <li><%= link_to "WORKS", works_path,   remote: true %></li>
  <li><%= link_to "INFO", info_path,  remote: true, id: "info" %></li>
  <li><%= link_to "CONTACT", contact_path,  remote: true, id: "contact" %></li>
</div>
 <li>
   <span id="menu" class="openbtn" onclick="openNav()">open</span></li>
</ul>







<div id="myNav" class="overlay">
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">CLOSE</a>
  <div class="overlay-content">
    <a href="/works">WORKS</a>
    <a href="/info">INFO</a>
    <a href="/contact">CONTACT</a>
    
  </div>

  <div class="social" style="">
    <p> YOUTUBE FACEBOOK SOUNDCLOUD</p>

  </div>
</div>





<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
</script>
