<div class="independent-studio-c">
  <p>General inquiries:
info@deadbutcool.com
<br>
<br>
Business inquiries:
hello@deadbutcool.com
<br>
<br>
<a href="tel:+7-322-674-88-03">Tel:+7-322-674-88-03</a>
</p>
<p style="font-size: 20px;">
We always looking forward to communicate.  Don’t hesitate to write us directly
<br>
<br>
Or keep in touch via Facebook,  Soundcloud or Youtube</h6>
</div>
