<div id="content">
  <h1>
  	General inquiries:
	<a href="mailto:info@deadbutcool.com" style=" color:inherit;
    text-decoration:none;">info@deadbutcool.com</a>
	<br>
	<br>
	Business inquiries:
	<a href="mailto:hello@deadbutcool.com" style=" color:inherit;
	    text-decoration:none;">hello@deadbutcool.com</a>
	<br>
	<br>
	<a href="tel:+7-322-674-88-03" style=" color:inherit;
	    text-decoration:none;">Tel:+7-322-674-88-03</a>
	</h1>


		<p style="display:inline-block;">
			We always looking forward to communicate.  Don’t hesitate to write us directly
		</p>

		<p>

			Or keep in touch via Facebook,  Soundcloud or Youtube
		</p>
</div>