 <section><h1>Independent studio crafting sound-design for Fendi, Chanel, Saint-Lauren  and <a href="/works" style="word-wrap: break-word;
  color:white;
  font-family: Favorit, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-weight:100;
  line-height: normal;
  letter-spacing: normal;font-size: 1em;">more</a> </h1>







<div id="player"></div>
<script src="https://luwes.github.io/vimeowrap.js/vimeowrap.js"></script>
<script src="https://luwes.github.io/vimeowrap.js/vimeowrap.carousel.js"></script>
<script>
    vimeowrap('player').setup({
        width: 380,
        height: 180,
        color: 'ffffff',
        autoplay: false,
        portrait: false,
        title: true,
        byline: false,
        urls: [
            'https://vimeo.com/42397960',
            'https://vimeo.com/user3709818'
        ],
        plugins: {
            'carousel': {
                 width: 380,
                 height: 150,
                 offsetx: 60,
                 offsety: 20,
                 visible: 2,
                 autoplay: true,
                 thumb: {
                     width: 150,
                     height: 112,   
                     quality: 'large'
                 }
            }
        }
    });
</script>
 </section>