  <% provide(:title, "HOME") %>



<br>



<div id="slider">
 


<%= render partial: 'projects/project', locals: { project: @project } %>



  <h1 class="play">play</h1>
  <h1 class="stop">stop</h1>
</div>
