<% provide(:title, "INFO") %>

<div class="static">
	<div class="independent">
   <h1>Independent studio crafting sound-design for Fendi, Chanel, Saint-Lauren  and <a href="/works" data-remote = "true" ><h1 style="margin:0;text-decoration:underline;display:inline-block;">more</h1></a></h1></div>

		<div class="info"><p>I was always somebody who felt quite sorry for myself, what I had not got compared to my friends, how much of a struggle my life seemed to be compared to others. I was caught up in a web of 	   negativity and needed someone or something to help me to escape.
			<br><br>
			During an afternoon at work one day, aged around twenty one, a colleague I was working with started to talk to me. What he said was quite upsetting and disturbing, however would have a profound effect on my future. He said to me:
			<br><br>
			“Your quite a depressive person, aren’t you?”
			<br><br>
			“Am I?”
			<br><br>
			I said in a shocked voice as I believed I was no different to anybody else. He continued:
			<br><br>
			“Yes you are. You very rarely smile, you are negative about most issues and you always seem to be carrying the world on your shoulders”.
			<br><br>
			This man was aged around fifty three and continued:
			<br><br>
			“I used to be like you and then I was given some advice, of which I am now going to relay to you. When you feel down, depressed or sorry for yourself, read the newspapers or watch the news on the television. You may then realise that you are in fact one of the lucky ones.”
			<br><br>
			I listened and thought about what he had said. I had never been a big reader or watcher of the news, but decided to start. The advice was totally correct, the news from around the world and even my own country was quite shocking. I realised that the worries I had were actually quite trivial and that I needed to cherish everyday and start to look on the bright side of life.</p>
	</div>
</div>


<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

<iframe width="560" height="315" src="//player.vimeo.com/video/5705212?api=1&player_id=video2" id="video2"></iframe><br/>
<button class="play" data-id="video2">Play</button>
<button class="pause" data-id="video2">Pause</button>
<script>
/* this version uses jquery, just to have easier clickhandlers and stuff - nothing that talks to vimeo is dependant on jQuery... */


/* Grabbing objects to play with */
var playButtons = $('.play'),
    pauseButtons = $('.pause');

/* Helper function to send a message to Vimeo-iframe */
function vimeoPost(action, value, target) {
	var data = { method: action };
	if (value) {
		data.value = value;
	}
	target.contentWindow.postMessage(JSON.stringify(data), '*');
};

/* When clicking the playButton, send a "play"-message to given iframe*/
playButtons.click(function() {
  var iframe = document.getElementById(this.dataset.id);
  vimeoPost('play',null,iframe);
});

/* When clicking the pauseButton, send a "pause"-message to given iframe */
pauseButtons.click(function() {
  var iframe = document.getElementById(this.dataset.id);
  vimeoPost('pause',null,iframe);
});

/* When a message is received, deal with it */
window.addEventListener('message', function(event) {
  /* Get message and sender from the event */
  var message = JSON.parse(event.data);
  var sender = document.getElementById(message.player_id);
 
  /* If the message.event is "ready", then send a message to add eventlisteners for play and pause also */
  if(message.event == "ready") {
 	vimeoPost('addEventListener','play',sender);
   vimeoPost('addEventListener','pause',sender);
  }
  
  /* Because of the above, we will start receiving events when video is played or paused - we will toggle a class, just to show it visually */ 
  if(message.event == 'play') {
		sender.classList.add('playing');    
  }
  if(message.event == 'pause') {
    sender.classList.remove('playing');
  }
  
}, false);


  </script>
  
  
  
  
  
  
  
