
<style>




/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

.cards {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto 20px;
}

article {
  position: relative;
}

.article-img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}


</style>

 
      <section class="cards">
        <article>
          <img class="article-img" src="http://placekitten.com/305/305" alt=" " />
          
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/320/220" alt=" " />
          
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/330/240" alt=" " />
          
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/280/250" alt=" " />
         
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/310/210" alt=" " />
         </article>
        <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>

      </section>

