
<style>




/* Grid styles -------------------------------------------------*/
* {
   box-sizing: border-box;
}

.x {
  width:100%;
  overflow:hidden;
  
}

img {
  max-width:100%;
  min-height:100%;

object-fit: fill
}

.item {
  width:25%;
  float:left;
  
  border:1px solid red;
 
  /*background-color:#fff;*/
}



@media screen and (max-width:1000px) {
  
/*   body {
    background-color:#ddf;
  } */
  
  .item {
    width:33.3%;
    
  }

}


@media screen and (max-width:600px) {
  
/*   body {
    background-color:#cdd;
  } */
  
 
@media screen and (max-width:600px) {
  
/*   body {
    background-color:#ded;
  } */
  
  .item {
    width:100%;
  }

}

@media screen and (max-width:800px) {
  
/*   body {
    background-color:#ded;
  } */
  
  .item {
    width:50%;
  }

}

/*Default styles*/



</style>



<div class="x">
  
  <div class="item">
    <img src="http://78.media.tumblr.com/e94bf2b37de5025087807868016e373c/tumblr_ou37kv2iib1uduh1yo1_500.gif">
   
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
   
  </div>
  
  <div class="item">
    <img src="http://78.media.tumblr.com/33b093d2a11186257cb02d65e9a86951/tumblr_o5ydb4MlTA1rcr5dwo1_1280.jpg">
   
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
   
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
  
  </div>
  
  <div class="item">
    <img src="http://placehold.it/400x300">
    
  </div>
  
</div> <!--close container-->