
<style>




/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28em, 1fr));
  grid-gap: 10px;
  margin: 20px;
}

.cards {
  
  max-width: 100%;
  
}

article {
  position: relative;
}

.article-img {
  height: 295px;
  width: 100%;
  object-fit: cover;
}


/*Default styles*/



</style>

 
      <section class="cards">
        <article>
          <img class="article-img" src="http://78.media.tumblr.com/e94bf2b37de5025087807868016e373c/tumblr_ou37kv2iib1uduh1yo1_500.gif" alt=" " />
          
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/320/220" alt=" " />
          
        </article>
        <article>
          <img class="article-img" src="http://78.media.tumblr.com/33b093d2a11186257cb02d65e9a86951/tumblr_o5ydb4MlTA1rcr5dwo1_1280.jpg" alt=" " />
          
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/280/250" alt=" " />
         
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/310/210" alt=" " />
         </article>
        <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>
           <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          </article>

      </section>

