<div class="top">
<div class="wrapper">
  <ul>
    <li><a class="video"
           href="https://player.vimeo.com/video/246308092?color=fdfdfd&title=0&byline=0&portrait=0&badge=0"> video 1</a>
    </li>
    <li><a class="video" href="https://player.vimeo.com/video/236669087"> video 2</a></li>
  </ul>

  
</div>
</div>