<div class="img_wrap" style=" display:flex;
  flex-wrap:wrap;margin-top:50px;" >
      <%= image_tag project.image, class: 'home_img', style: 'object-fit:cover;width:63vw;
  height:20vw;width:100%; '  %>
</div>