

<div class="grid">
  <% @projects.each do |project| %>

    <div class="img-item" style="position: relative;">

      	<%= link_to (image_tag(project.image, class: 'img-responsive', style: "height:100%;")), project, class: 'gallery' %> 

<%=   link_to(project) do %> 
        
            
             <p class="brand"><%= project.brand.upcase %></p>

       
  <% end %> 
	</div>
   
 
  <% end %> 

</div>
