.img_wrap {
  display:flex;
  flex-wrap:wrap;
  margin-top:50px;
}

.project_img {
	object-fit:cover;
	width:63vw;
	height:39vw;
	width:100%; 
}

.brandlink-mobile p {
	font-size: 13px;
}

.slider {
	    transition-duration: 0s;
}

.prev-next-brand {
	font-size: 13px;
}

p a {
	font-size:13px;
}

.credits {
    margin-top: 50px;
    }



@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1500px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 551px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


    /* D E S K T O P */
@include breakpoint(desktop) {

}
/* L A P T O P */
@include breakpoint(laptop) {
    
}
/* T A B L E T */
@include breakpoint(tablet) {
 
}
/* M O B I L E P L U S*/
@include breakpoint(phablet) {
 
}
/* M O B I L E */

@include breakpoint(mobileonly) {
 #maincontent {
     margin-top: 110px;
 }
.project-top {
  padding-top: 110px;
}
}
