.img_wrap {
  display:flex;
  flex-wrap:wrap;
  margin-top:50px;
}

.project_img {
	object-fit:cover;
	width:63vw;
	height:39vw;
	width:100%; 
}

.brandlink-mobile p {
	font-size: 13px;
}

.slider {
	    transition-duration: 0s;
}

.prev-next-brand {
	font-size: 13px;
}

p a {
	font-size:13px!important;
}