/* Fonts */



@font-face {
  font-family: 'Canela-Light';
  src: font-url("Canela-Light.otf");
  src: font-url("Canela-Light.otf?#iefix") format("embedded-opentype"), font-url("Canela-Light.woff") format("woff"), font-url("Canela-Light.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit_Regular';
  src: font-url("Favorit_Regular.otf");
  src: font-url("Favorit_Regular.otf?#iefix") format("embedded-opentype"), font-url("Favorit_Regular.woff") format("woff"), font-url("Favorit_Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* Universal */


$break-small: 320px;
$break-large: 1200px;



.navright{ display: none;}
 




 


body {
  margin:0px;
}

a {
  color:white;
  font-family: "Canela-Light";
  font-size: 19px;
  text-decoration:none;
  &:hover {
  text-decoration:underline;
  }
}
h1 {
  color:white;
  font-weight: 100;
  text-align: left;
  font-family: "Favorit_Regular";
  -webkit-font-smoothing: subpixel-antialiased;

 }

p {
  color: white;
  font-size: 19px;
  color:white;
  font-family: "Favorit_Regular";
  
}

section a {
  word-wrap: break-word;
  color:white;
  font-family: "Favorit_Regular";
  font-style: normal;
  font-stretch: normal;
  font-weight:100;
  line-height: normal;
  letter-spacing: normal;
  }

@media (max-width: 420px) {
    h1 {
  font-size:28px;
  
@media (min-width: 460px) {
 font-size:60px;
    }
 
  }
}

html {
  
  background-color: #000000;
}

@media (min-width: 420px) {
    section a {
  font-size:37px;
  
@media (min-width: 460px) {
 font-size:60px;

   }
  }
} 
/* HEADER */
header {
padding: 20px;
background-color: #000000;
 position:fixed;
 z-index: 1;
  width: 100%;
  border-style: solid;
  border-color: red;
  }

/* CONTENT */ 

#content {
  padding: 20px;
  padding-bottom:0px;
  border-style: solid;
  border-color: red;
}
/* FOOT3R */
footer {
    border-style: solid;
    border-color: red;
   padding: 20px;
}

@media only screen and (min-width: 440px) {
  footer p {
  line-height: 1.21;
  text-align: left;
    font-size: 24px;
  }
}
