<!DOCTYPE html>
<html>
  <head>

    <title>DEAD BUT COOL</title>
    
   <%= render 'partials/meta' %>

  </head>

  <body>
  <%= render "partials/header" %>
  <div id="maincontent">
    <%= yield %>
  
    <%= render "partials/footer" %>
    </div>
  </body>


</html>
