<!DOCTYPE html>
<html>
  <head>
    <title>DEAD BUT COOL</title>
   <%= render 'partials/meta' %>
  </head>

  <body>
  	<%= render 'partials/header' %>
    <section id="maincontent">
        <%= yield %>
    </section>

    <div id="main"></div>

    <%= render 'partials/footer' %>
  </body>
</html>
