<!DOCTYPE html>
<html>
  <head>
    <title>Deadbutcool</title>
   <%= render 'partials/meta' %>
  </head>

  <body>
  	<%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
